exportClasses(nFit)
exportMethods(model)
importFrom(pcaMethods,method)
exportMethods(method)
exportMethods(sFit)
exportMethods(standards)
exportMethods(analytes)
exportMethods(makeX)
exportMethods(mexprs)
exportMethods("mexprs<-")
exportMethods(show)
export(plot.nFit)
export(analytes_eset)
export(analytes_other)
export(makeX_eset)
export(makeX_other)
export(dropunusedlevels)
export(standardsFit)
export(standardsPred)
export(weightnorm)
export(normFit)
export(normalize)
export(normPred)
